#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button {
  width: 100px;
  height: 100px;
  color: #fff;
  border-radius: 50px;
  padding: 10px 25px;
  font-size: 3rem;
  font-weight: bold;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

.custom-btn {
  background: #7a7a7a;
  border: none;
  z-index: 1;
}
.custom-btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 50px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.custom-btn:hover {
  color: #fff;
}
.custom-btn:hover:after {
  left: 0;
  width: 100%;
}
.custom-btn:active {
  top: 2px;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 2%;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

.display{
  width: 99%;
  /* padding: 20px; */
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

.calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  max-width: 500px;
  border-radius: 5px;
}

.item-zero {
  grid-column: span 3;
}

.custom-btn-operator {
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .custom-btn-operator:after {
    width: 0%;
    height: 0px;
  }
  .custom-btn-operator:hover{
    color: rgba(251,75,2,1);
    background: transparent;
  }
  .custom-btn-operator span:after {
    height: 2px;
    width: 0%;
  }
  .custom-btn-operator span:hover:before {
    height: 100%;
  }
  .custom-btn-operator span:hover:after {
    width: 100%;
  }
  .custom-btn-operator:active {
    top: 2px;
  }